@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

// Sass Overrides. For variables list, visit: 
// https://bulma.io/documentation/customize/variables/

$size-6: .9rem;
$table-cell-border-width: 0;
$box-shadow: 0 0 0 0;
$navbar-item-active-color: rgb(54, 54, 54);

@import '../../node_modules/bulma/bulma.sass';

.my-footer {
    background-color: darkgrey;
}
.notification-padding-small {
    padding: .25rem 1rem .25rem 1rem;
}
.override-is-8 {
    font-size: .75rem;
}
.override-is-so-small {
    font-size: .5rem;
}
.is-small-form {
    width: 11rem;
}
.is-smallest-form {
    width: 10rem;
}
.my-navbar-item-brand:hover {
    color:rgb(54, 54, 54) !important;
}
.my-navbar-item-colour {
    color:rgb(54, 54, 54) !important;
}
.my-navbar-item-colour:hover {
    color:rgb(116, 116, 116) !important;
}


