<template>
    <div class="page-my-account">

        <div class="container is-fullhd">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <h1 class="is-size-5">My account</h1>
                    </div>

                    <hr>
                    <div class="column is-12">
                        <h2 class="mb-2">My orders</h2>
                        <p class="is-size-6">You have no orders...</p>
                        <OrderSummary
                            v-for="order in orders"
                            v-bind:key="order.id"
                            v-bind:order="order" />
                    </div>

                    <div class="column is-12">
                        <button @click="logout()" class="button is-dark">Log out</button>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import OrderSummary from '@/components/OrderSummary'

export default {
    name: 'Account',
    components: {
       OrderSummary,
    },
    methods: {
        logout() {
            axios.defaults.headers.common["Authorization"] = ""
            localStorage.removeItem("token")
            localStorage.removeItem("username")
            localStorage.removeItem("userid")

            this.$store.commit('removeToken')
            this.$router.push('/')
        },
         async getMyOrders() {
            this.$store.commit('setIsLoading', true)
            await axios
                .get('/api/v1/orders/')
                .then(response => {
                    this.orders = response.data
                })
                .catch(error => {
                    console.log(error)
                })
            this.$store.commit('setIsLoading', false)
        }
    },
    mounted() {
        document.title = 'Account | Store'
        this.getMyOrders()
    }
}
</script>
