<template>

  <div class="all-products">

    <div class="columns is-multiline">
      <div class="column is-12">
        <h2 class="is-size-5 has-text-centered">All products</h2>
      </div>
    </div>

    <div class="container is-fullhd">
    <div class="columns">
      <div class="column">
        <div class="columns is-multiline">
          <ProductBox  
            v-for="product in latestProducts"
            v-bind:key="product.id"
            v-bind:product="product" />
        </div>
      </div>
    </div></div>

    <div class="mb-6"></div>
    <div class="pt-6"></div>

  </div>
</template>

<script>
import axios from 'axios'
// @ shortcut for root folder for vue project
import ProductBox from '@/components/ProductBox'

export default {
  name: 'All',
  data() {
    return {
      latestProducts: [],
    }
  },
  components: {
    ProductBox,
  },
  mounted() {
    this.getLatestProducts()
    document.title = 'Show All | Store'
  },
  methods: {
    getLatestProducts() {
      const url = '/api/v1/latest-products/'
      axios
        .get(url)
        .then(response => {
          this.latestProducts = response.data
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
}
</script>

<style lang="scss">
@import '@/sass/mystyles.scss';
</style>