<template>
    <div class="page-cart">

        <div class="container is-fullhd">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <h1 class="is-size-5">Shopping bag</h1>
                </div>

                <div class="column is-8 box">
                    <table class="table is-fullwidth" v-if="cartTotalLength">
                        <thead>
                            <tr class="is-size-6">
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <CartItem
                                v-for="item in cart.items"
                                v-bind:key="item.product.id"
                                v-bind:initialItem="item"
                                v-on:removeFromCart="removeFromCart" />
                        </tbody>
                    </table>
                    <p v-else>You don't have any products in your bag...</p>
                </div>

            </div>

            <div class="columns">

                <div class="column is-4 box is-size-6">
                    <h2 class="is-size-6">Summary</h2>
                    <p>Total: <strong>${{ cartTotalPrice.toFixed(2) }}</strong></p>

                    <hr>
                    <template v-if="cartTotalLength">
                        <hr>
                        <router-link to="/bag/checkout" class="button is-dark"><button class="button is-dark">Proceed to checkout</button></router-link>
                    </template>
                    <template v-else>
                        <hr>
                        <button class="button is-dark" title="Disabled button" disabled>Your bag is empty</button>
                    </template>
                </div>

            </div>

        </div>
   </div> 
</template>

<script>
import axios from 'axios'
import CartItem from '@/components/CartItem'

export default {
    name: 'Cart',
    components: {
        CartItem,
    },
    data() {
        return {
            cart: {
                items: [],
            }
        }
    },
    mounted() {
        this.cart = this.$store.state.cart
        document.title = 'Bag | Store'
    },
    methods: {
        removeFromCart(item) {
            this.cart.items = this.cart.items.filter(i => i.product.id !== item.product.id)
        },
    },
    computed: {
        cartTotalLength() {
            // accumulator and current value
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.quantity
            }, 0)
        },
        cartTotalPrice() {
            // accumulator and current value
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.product.price * curVal.quantity
            }, 0)
        },
    },
}
</script>
