<template>

    <div class="container is-fullhd">
      <div class="home">
      <img class="my-img" src="http://localhost:8001/media/siteassets/Syddddney.jpg" alt="Syd"> 
  


        <div class="columns is-multiline">
          <div class="column is-12">
            <h2 class="is-size-5 has-text-centered mt-2">Latest products</h2>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column">
            <div class="columns is-multiline">
              <ProductBox  
                v-for="product in latestProducts"
                v-bind:key="product.id"
                v-bind:product="product" />
            </div>
          </div>
        </div>

      </div>

      <div class="mb-4"></div>

      <section class="section is-small has-background-light">
        <div class="columns has-text-centered">
          <div class="column is-4 is-size-6">
            <a href="/"><p class="my-navbar-item-colour">About</p></a>
            <a href="/"><p class="my-navbar-item-colour">Location</p></a>
          </div>
          <div class="column is-4 is-size-6">
            <a href="/"><p class="my-navbar-item-colour">Shipping</p></a>
            <a href="/"><p class="my-navbar-item-colour">Returns</p></a>

          </div>
          <div class="column is-4 is-size-6">
            <a href="/"><p class="my-navbar-item-colour">FAQ</p></a>
            <a href="/"><p class="my-navbar-item-colour">Contact</p></a>
          </div>
        </div>
        <footer>
        <p class="has-text-centered is-size-6 has-text-grey">Copyright (c) 2021</p>
      </footer>
      </section>

      
    </div>
</template>

<script>
import axios from 'axios'
// @ shortcut for root folder for vue project
import ProductBox from '@/components/ProductBox'

export default {
  name: 'Home',
  data() {
    return {
      latestProducts: [],
    }
  },
  components: {
    ProductBox,
  },
  mounted() {
    this.getLatestProducts()
    document.title = 'Home | Store'
  },
  methods: {
    getLatestProducts() {
      const url = '/api/v1/latest-products/'
      axios
        .get(url)
        .then(response => {
          //console.log(response.data)          
          this.latestProducts = response.data
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
}
</script>

<style lang="scss">
@import '@/sass/mystyles.scss';
</style>