<template>
    <div class="page-log-in">

        <div class="container is-fullhd">

        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h1 class="is-size-5 mb-3 has-text-centered">Log in</h1>

                <form @submit.prevent="submitForm">
                    <div class="field is-size-6">
                        <label>Username</label>
                        <div class="control">
                            <input type="text" class="input" v-model="username">
                        </div>
                    </div>

                    <div class="field is-size-6">
                        <label>Password</label>
                        <div class="control">
                            <input type="password" class="input" v-model="password">
                        </div>
                    </div>

                    <div class="notification is-danger is-light override-is-8 notification-padding-small" v-if="errors.length">
                        <p>Incorrect username and/or password. Please try again.</p>
                    </div>

                    <div class="field is-size-6">
                        <div class="control">
                            <button class="button is-dark">Log in</button>
                        </div>
                    </div>

                    <hr>

                    <p class="is-size-6">Or <router-link to="/sign-up">click here</router-link> to sign up! </p>
                </form>
            </div>
        </div>

        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'LogIn',
    data() {
        return {
            username: '',
            password: '',
            errors: [],
        }
    },
    mounted() {
        document.title = 'Log In | Store'
    },
    methods: {
        async submitForm() {
            axios.defaults.headers.common["Authorization"] = ""

            localStorage.removeItem("token")

            const formData = {
                username: this.username,
                password: this.password,
            }

            await axios
                .post("/api/v1/token/login/", formData)
                .then(response => {
                    const token = response.data.auth_token
                    this.$store.commit('setToken', token)
                    
                    axios.defaults.headers.common["Authorization"] = "Token " + token
                    localStorage.setItem("token", token)
                    const toPath = this.$route.query.to || '/'
                    this.$router.push(toPath)
                })
                .catch(error => {
                    if (error.response) {
                        for (const property in error.response.data) {
                            this.errors.push(`${property}: ${error.response.data[property]}`)
                        }
                    } else {
                        this.errors.push('Something went wrong. Please try again')
                        
                        console.log(JSON.stringify(error))
                    }
                })
        }
    }
}
</script>
