<template>
    <div class="page-product">

        <div class="container is-fullhd">
            <div class="columns">
                <div class="column is-three-fifths">
                    <div class="columns">
                        <div class="column is-11">
                            <figure class="image is-16by9">
                                <img v-bind:src="product.get_image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third mt-5">
                    <h1 class="is-size-5 mb-4">{{ product.name }}</h1>
                    <!--<h2 class="subtitle is-6">Brand</h2>-->

                    <div class="is-size-6 mb-6">{{ product.description }}</div>

                    <p class="is-size-6"><strong>Price: </strong>${{ product.price }}</p>

                    <div class="field has-addons mt-4 is-small-form">
                        <div class="control">
                            <input type="number" class="input" min="1" v-model="quantity">
                        </div>

                        <div class="control">
                            <a class="button is-dark" @click="addToCart">Add to bag</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import { toast } from 'bulma-toast'

export default {
    name: 'Product',
    data() {
        return {
            product: {},
            size: '',
            quantity: 1,
        }
    },
    mounted() {
        this.getProduct()
    },
    methods: {
        async getProduct() {
            this.$store.commit('setIsLoading', true)

            const category_slug = this.$route.params.category_slug
            const product_slug = this.$route.params.product_slug
            const url = `/api/v1/products/${category_slug}/${product_slug}/`
            
            await axios
                .get(url)
                .then(response => {
                    this.product = response.data

                    document.title = this.product.name + ' | Store'
                })
                .catch(function (error) {
                    console.log(error)
                })
            
            this.$store.commit('setIsLoading', false)
        },
        addToCart() {
            if (isNaN(this.quantity) || this.quantity < 1) {
                this.quantity = 1
            }

            const item = {
                product: this.product,
                quantity: this.quantity
            }

            this.$store.commit('addToCart', item)

            toast({
                message: 'Item(s) added to bag',
                type: ['is-dark'],
                dismissible: true,
                pauseOnHover: true,
                duration: 2000,
                position: 'bottom-right',
            })
        }
    }
}
</script>

<style lang=scss>
  @import '@/sass/mystyles.scss';
</style>

