<template>
    <div class="page-sign-up">

        <div class="container is-fullhd">

        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h1 class="is-size-5 mb-3 has-text-centered">Sign up</h1>

                <form @submit.prevent="submitForm">
                    <div class="field is-size-6">
                        <label>Username</label>
                        <div class="control">
                            <input type="text" class="input" v-model="username">
                        </div>
                    </div>

                    <div class="field is-size-6">
                        <label>Password</label>
                        <div class="control">
                            <input type="password" class="input" v-model="password">
                        </div>
                    </div>

                    <div class="field is-size-6">
                        <label>Repeat password</label>
                        <div class="control">
                            <input type="password" class="input" v-model="password2">
                        </div>
                    </div>

                    <!-- Check for errors -->
                    <div class="notification is-danger is-light override-is-8 notification-padding-small" v-if="errors.length">
                        <p>Sign up unsuccessful. Password must be at least 8 characters.</p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-dark">Sign up</button>
                        </div>
                    </div>

                    <hr>
                    <p class="is-size-6">Or <router-link to="/log-in">click here</router-link> to log in!</p>
                </form>
            </div>
        </div>
        </div>
    
    </div>
</template>

<script>
import axios from 'axios'
import { toast } from 'bulma-toast'

export default {
    name: 'SignUp',
    data() {
        return {
            username: '',
            password: '',
            password2: '',
            errors: [],
        }
    },
    methods: {
        submitForm() {
            this.errors = []
            if (this.username === '') {
                this.errors.push('The username is missing.')
            }
            if (this.password === '') {
                this.errors.push('Invalid password.')
            }
            if (this.password !== this.password2) {
                this.errors.push('The passwords do not match.')
            }
            if (!this.errors.length) {
                const formData = {
                    username: this.username,
                    password: this.password
                }
                axios
                    .post("/api/v1/users/", formData)
                    .then(response => {
                        toast({
                            message: 'Account created, please log in to continue.',
                            type: 'is-dark',
                            dismissible: true,
                            pauseOnHover: true,
                            duration: 2000,
                            position: 'bottom-right',
                        })
                        this.$router.push('/log-in')
                    })
                    .catch(function (error) {
                        if (error.response) {
                            for (const property in error.response.data) {
                                this.errors.push(`${property}: ${error.response.data[property]}`)
                            }
                            console.log(JSON.stringify(error.response.data))
                        } else if (error.message) {
                            this.errors.push('Something went wrong. Please try again.')
                            
                            console.log(JSON.stringify(error))
                        }
                    })
            }
        },
    },
    mounted() {
        document.title = 'Sign Up | Store'
    },
}
</script>

<style lang=scss>
  @import '@/sass/mystyles.scss';
</style>
