<template>
    <div class="page-success">

        <div class="columns is-centered">
            <div class="column is-8">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <h1 class="title">Thank you</h1>
                        <p>Your order will be processed within 48 hours.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'Success',
    mounted() {
        document.title = 'Success | Store'
    },
}
</script>

<style lang=scss>
  @import '@/sass/mystyles.scss';
</style>
