<template>
    <tr class="is-size-6">
        <td><router-link v-bind:to="item.product.get_absolute_url"><p class="has-text-dark">{{ item.product.name }}</p></router-link></td>
        <td>${{ item.product.price }}</td>
        <td> 
            {{ item.quantity }}
            <a class="has-text-dark" @click="decrementQuantity(item)">- </a> /
            <a class="has-text-dark" @click="incrementQuantity(item)"> +</a>
        </td>
        <td>${{ getItemTotal(item).toFixed(2) }}</td>
        <td><button class="delete" @click="removeFromCart(item)"></button></td>
    </tr>
</template>

<script>

export default {
    name: 'CartItem',
    props: {
        initialItem: Object,
    },
    data() {
        return {
            item: this.initialItem,
        }
    },
    methods: {
        getItemTotal(item) {
            return item.quantity * item.product.price
        },
        updateCart() {
            localStorage.setItem('cart', JSON.stringify(this.$store.state.cart))
        },
        removeFromCart(item) {
            this.$emit('removeFromCart', item)
            this.updateCart()
        },
        incrementQuantity(item) {
            item.quantity += 1
            this.updateCart()
        },
        decrementQuantity(item) {
            item.quantity -= 1

            if (item.quantity === 0) {
                this.$emit('removeFromCart', item)
            }

            this.updateCart()
        },
        
    },
    mounted() {
        this.cart = this.$store.state.cart
    },
}
</script>
