<template>
  <div class="column is-3">
    <div class="box mb-5">
        <figure class="image is-3by2 mb-4">
        <router-link v-bind:to="product.get_absolute_url">
        <img v-bind:src="product.get_image"></router-link>
        </figure>

        <router-link v-bind:to="product.get_absolute_url">
          <h3 class="is-size-6 has-text-dark">{{ product.name }}</h3>
        </router-link>
        <router-link v-bind:to="product.get_absolute_url">
          <p class="override-is-8 has-text-grey">${{ product.price }}</p>
        </router-link>
        <!--<router-link v-bind:to="product.get_absolute_url" class="button is-dark mt-4 is-size-6">View details</router-link>-->
    </div>
  </div>
</template>

<script>
export default {
    name: 'ProductBox',
    props: {
        product: Object,
    }
}
</script>

<style lang=scss>
  @import '@/sass/mystyles.scss';
</style>

<style scoped>
  .image {
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
</style>
