<!-- Base page -->
<template>
  <div id="wrapper">

    <div class="container is-fullhd">

    <nav class="navbar is-transparent is-hoverable" ref="dropdown">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-item is-size-6 ml-2 has-text-dark" @click="showMobileMenu = false"><strong>Central Cycles</strong></router-link>

        <a role="button" id="myburger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu" @click="showMobileMenu = !showMobileMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu" v-bind:class="{ 'is-active': showMobileMenu }">
        <div class="navbar-start">
          <router-link to="/all" class="navbar-item is-size-6 ml-2 my-navbar-item-colour" @click="showMobileMenu = false">All</router-link>
          <router-link to="/urban" class="navbar-item is-size-6 ml-2 my-navbar-item-colour" @click="showMobileMenu = false">Urban</router-link>
          <router-link to="/cargo" class="navbar-item is-size-6 ml-2 my-navbar-item-colour" @click="showMobileMenu = false">Cargo</router-link>
          <!--<router-link to="/summer" class="navbar-item is-size-6 ml-2 my-navbar-item-colour">Urban</router-link>
          <router-link to="/winter" class="navbar-item is-size-6 ml-2 my-navbar-item-colour">Cargo</router-link>-->
        </div>

        <div class="navbar-end">

          <div class="navbar-item">
            <form method="get" action="/search">
              <div class="field has-addons is-small-form">
                <div class="control">
                  <input type="text" class="input is-size-6 is-rounded" placeholder="Search" name="query">
                </div>

                <div class="control">
                  <button class="button is-size-6 is-rounded">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          
          <div class="navbar-item">
            <div class="buttons">
              <template v-if="$store.state.isAuthenticated">
                <router-link to="/account" class="button is-outline is-size-6" @click="showMobileMenu = false">Account</router-link>
              </template>

              <template v-else>
                <router-link to="/log-in" class="button is-outline is-size-6" @click="showMobileMenu = false">Log in</router-link>
              </template>

              <router-link to="/bag" class="button is-dark is-focused is-size-6" @click="showMobileMenu = false">
                <span class="icon"><i class="fas fa-shopping-bag"></i></span>
                <span>Bag</span>
              </router-link>  
            </div>
          </div>

        </div>
      </div>
    </nav>

    <div class="is-loading-bar has-text-centered" 
    v-bind:class="{'is-loading': $store.state.isLoading }"
    >
      <div class="lds-dual-ring"></div>
    </div>
    </div>
    <section class="section">
      <router-view/>
    </section>


  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      showMobileMenu: false,
      cart: {
        items: [],
      },
    }
  },
  beforeCreate() {
    this.$store.commit('initializeStore')

    const token = this.$store.state.token

    if (token) {
      axios.defaults.headers.common['Authorization'] = "Token" + token
    } else {
      axios.defaults.headers.common['Authorization'] = ""
    }
  },
  methods: {
  },
  mounted() {
    this.cart = this.$store.state.cart

  },
  computed: {
    cartTotalLength() {
      let totalLength = 0

      for (let i = 0; i < this.cart.items.length; i++) {
        totalLength += this.cart.items[i].quantity
      }

      return totalLength
    }
  },

}
</script>

<style lang="scss">
@import '../node_modules/bulma';
@import '@/sass/mystyles.scss';

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-loading-bar {
  height: 0;
  overflow: hidden;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &.is-loading {
    height: 80px;
  }
}

</style>
